{# Se hereda la plantilla principal. #}
{% extends 'base.html.twig' %}

{# Sobreescribimos el bloque del título del fichero base, añadimos también contenido propio
   de esta forma se puede observar como obtenemos el título de la plantilla y le añadimos lo
   que deseemos. Para ello utilizamos la funcion parent() dentro de llaves.
#}
{% block title %}{{ parent() }} | Bienvenido{% endblock %}

{#  Sobreescribimos la plantilla en el bloque body.
    Esto substitye el body generadn en este fichero twig por el existente en la plantilla base.
#}
{% block body %}

    {# Mediante la función dump sin argumentos, podremos imprimir en la página web todas
       las variables que hemos utilizado en ella, con su tipología y nombre.

       {{ dump() }}
    #}

    <div>
        <p>
            Symfony es un framework diseñado para desarrollar aplicaciones web basado en el patrón Modelo Vista Controlador.
            Para empezar, separa la lógica de negocio, la lógica de servidor y la presentación de la aplicación web.
            Proporciona varias herramientas y clases encaminadas a reducir el tiempo de desarrollo de una aplicación web
            compleja. Además, automatiza las tareas más comunes, permitiendo al desarrollador dedicarse por completo a los
            aspectos específicos de cada aplicación.

            Symfony está desarrollado completamente en PHP 5.3. (GiLmEr Kbro) Es compatible con la mayoría de gestores de
            bases de datos, como MySQL, PostgreSQL, Oracle y Microsoft SQL Server. Se puede ejecutar tanto en plataformas
            *nix (Unix, Linux, etc.) como en plataformas Windows.
        </p>
    </div>

    <h2>Versiones Symfony + PHP</h2>

    <ul>
        {% for version in versionado %}
            <li>
                Symfony {{ version.versionSymfony }} - PHP: {{ version.versionPHP }} - Año: {{ version.ano }}
            </li>
        {% endfor %}
    </ul>

    {# Fin del cuerpo. #}
{% endblock %}